<div class="d-flex flex-row align-items-center justify-content-between p-3 px-4 mb-3 
    border-bottom fixed-top shadow-sm" style="background-color: #55404f; border-bottom: none !important;">
    <h1 class="m-0 display-5">
        <img src="/assets/slike/logo.png" alt="logo" aria-label="Logo" class="logo" routerLink="/" style="max-height: 70px;">
        <span class="moji-naslovi" style="color: #FE17BD; font-weight: 600; margin-left: 1rem;">Mala Šapa</span>
      </h1>
    <nav class="my-2 my-md-0 mr-md-3 text-uppercase fs-4">
        <a class="p-2" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Početna</a>
        <a class="p-2" routerLink="/webshop" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Trgovina</a>
        <!-- <a class="p-2" routerLink="/test-error" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">ERRORS </a> -->
    </nav>
    <div class="d-flex align-items-center">
        <a routerLink="/kosarica" class="position-relative" style="margin-right: 20px;">
          <i class="fa fa-shopping-cart fa-1x" style="color: #FE17BD;"></i>
          <div *ngIf="(kosarica$ | async)" class="broj-kosarice">{{(kosarica$ | async).artikli.length}}</div>
        </a>
        <ng-container *ngIf="(trenutniKorisnik$ | async) === null">
          <a routerLink="/korisnicki-racun/prijava" class="btn btn-outline-secondary mr-2" style="margin-left: 5px;">Prijava</a>
          <a routerLink="/korisnicki-racun/registracija" class="btn btn-outline-secondary mr-3" style="margin-left: 5px;">Registracija</a>
        </ng-container>
    
        <ng-container *ngIf="trenutniKorisnik$ | async">
          <ng-container *ngIf="isAdmin">
            <div class="dropdown ml-3 mr-5" dropdown>
              <a class="dropdown-toggle" style="cursor: pointer" dropdownToggle>
                <strong style="color: white;">Postavke {{(trenutniKorisnik$ | async).alias}}</strong>  
              </a>
              <div class="dropdown-menu dropdown-menu-right" style="cursor: pointer; background-color: #55404f;" *dropdownMenu>
                <a routerLink="/narudzbe" class="dropdown-item d-flex align-items-center py-2">
                  <i class="fa fa-history mr-3" style="color: #FE17BD;"></i> 
                  Pregled narudžbi</a>
                <div class="dropdown-divider"></div>
                <a (click)="odjava()" class="dropdown-item d-flex align-items-center py-2" style="color: white !important;">
                  <i class="fa fa-sign-out mr-3" style="color: #FE17BD;"></i>
                  Odjava</a>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="!isAdmin">
            <div class="dropdown ml-3 mr-5" dropdown>
              <a class="dropdown-toggle" style="cursor: pointer" dropdownToggle>
                <strong style="color: white;">Dobrodošli {{(trenutniKorisnik$ | async).alias}}</strong>  
              </a>
              <div class="dropdown-menu dropdown-menu-right" style="cursor: pointer; background-color: #55404f;" *dropdownMenu>
                <a routerLink="/kosarica" class="dropdown-item d-flex align-items-center py-2">
                  <i class="fa fa-shopping-cart mr-3" style="color: #FE17BD;"></i> 
                  Pregled košarice</a>
                <a routerLink="/narudzbe" class="dropdown-item d-flex align-items-center py-2">
                  <i class="fa fa-history mr-3" style="color: #FE17BD;"></i> 
                  Pregled svih narudžbi</a>
                <div class="dropdown-divider"></div>
                <a (click)="odjava()" class="dropdown-item d-flex align-items-center py-2" style="color: white !important;">
                  <i class="fa fa-sign-out mr-3" style="color: #FE17BD;"></i>
                  Odjava</a>
              </div>
            </div>
          </ng-container>

        </ng-container>
    
      </div>
      
    </div>