<carousel>
    <slide>
        <img src="/assets/slike/proizvodi-carousel.jpeg" alt="first slide" style="display: block; width: 100%;">
        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
            <div class="p-3" style="max-width: 900px;">
              <h3 class="text-white mb-3 d-none d-lg-block moji-naslovi grey-background">Premium proizvodi za vašeg
                ljubimca</h3>
              <h1 class="responsive-heading text-white mb-md-3 mb-0 moji-naslovi grey-background">Kvalitetna hrana i
                dodaci za zdravlje
              </h1>
              <h5 class="text-white mb-3 d-none d-lg-block moji-naslovi grey-background">Igračke i oprema koje vaš
                ljubimac obožava</h5>
            </div>
          </div>
    </slide>
    <slide>
        <img src="/assets/slike/salon-carousel.jpeg" alt="first slide" style="display: block; width: 100%;">
        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
            <div class="p-3" style="max-width: 900px;">
              <h3 class="text-white mb-3 d-none d-lg-block moji-naslovi grey-background">Vrhunska usluga za kućne
                ljubimce</h3>
              <h1 class="responsive-heading text-white mb-md-3 mb-0 moji-naslovi grey-background">Neka vaš ljubimac bude
                sretan</h1>
              <h5 class="text-white mb-3 d-none d-lg-block moji-naslovi grey-background">Iskusni tim pruža nježnu brigu
                i pažljivo
                uređivanje, prilagođeno potrebama vašeg ljubimca.</h5>   
            </div>
          </div>
    </slide>
</carousel>

<div class="container-fluid">
    <div class="row align-items-center" style="background-color: #A9488D; height: 450px;">
      <div class="col-md-12 d-flex justify-content-center py-5">
        <div class="custom-flex-class mt-3">
          <h3 class="text-white mb-4 moji-naslovi">Dobrodošli u Vašu omiljenu trgovinu</h3>
          <h5 class="text-white mb-3 moji-naslovi">O našoj ponudi za kućne ljubimce</h5>
          <div class="col-12 px-2 px-md-0 mt-4">
            <p class="text-white moji-tekstovi">Naša mala obiteljska trgovina nudi pažljivo odabrane proizvode za vaše
              ljubimce.
              </p>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- Copy rights -->
<div class="container-fluid text-white py-4 px-sm-3 px-md-5" style="background-color: #332d31;" >
  <div class="row" style="color: #55404f">
      <div class="col-md text-center mb-3 mb-md-0">
      <p class="m-0 text-white">
          © 2024 Mala Šapa. Sva prava zadržana.
          <small style="font-size: 0.5em; color:white;">Photos by <a class="text-white font-weight-bold" style="font-size: 0.9em;">Dorijan Šipuš,</a></small>
          </p>
      </div>
  </div>
</div>
<!-- Copy rights -->
