<p>blagajna-placanje works!</p>


<div class="float-none d-flex justify-content-between flex-column flex-lg-row mb-5">
    <button class="btn btn-outline-primary" cdkStepperPrevious style="background-color: #FE17BD; color:white; cursor: pointer;">
        <i class="fa fa-angle-left"></i> Povratak pregled
    </button>
    <button class="btn btn-primary" (click)="predajNarudzbu()" cdkStepperNext style="background-color: #FE17BD; color:white; cursor: pointer;">
        Završi narudžbu <i class="fa fa-angle-right"></i> 
    </button>
</div>