
<div class="container mt-5">
    <div *ngIf="(kosarica$ | async) === null">
        <p>U vašoj košarici nema artikala</p>
    </div>
    
    <div *ngIf="kosarica$ | async">
        <div class="pb-5">
            <div class="container">
                <div class="row">
                    <div class="col-12 py-5 mb-1">
                        <app-kosarica-pregled 
                            (umanjiKolicinu)="umanjiKolicinuArtikla($event)"
                            (uvecajKolicinu)="uvecajKolicinuArtikla($event)"
                            (ukloniArtikl)="ukloniArtiklIzKosarice($event)"
                        ></app-kosarica-pregled>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6 offset-6">
                        <app-narudzba-suma></app-narudzba-suma>
                        <a routerLink="/blagajna/" class="btn btn-outline.primary py-2 btn-block" style="background-color: #FE17BD; color:white; cursor: pointer;">
                            Nastavite na plaćanje
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
