<div class="d-flex flex-row align-items-center justify-content-between p-3 px-4 mb-3 
    border-bottom fixed-top shadow-sm white-text" style="background-color: #55404f;">
    <img src="/assets/slike/logo.png" alt="logo" style="max-height: 70px;">
    <nav class="my-2 my-md-0 mr-md-3 text-uppercase fs-4">
        <a class="p-2 text-decoration-none" href="#">Početna</a>
        <a class="p-2 text-decoration-none" href="#">Trgovina</a>
        <a class="p-2 text-decoration-none" href="#">Kontakt</a>
    </nav>
    <div class="d-flex align-items-center">
        <div class="position-relative me-3 order-1" style="margin-right: 20px;">
            <a>
                <i class="fa fa-shopping-cart fa-1x" style="color: #FE17BD;"></i>
                <div class="broj-kosarice">5</div>
            </a>
        </div>
        <div class="order-2">
            <a href="" class="btn btn-outline-secondary" style="margin-right: 5px;">Prijava</a>
            <a href="" class="btn btn-outline-secondary" style="margin-left: 5px;">Registracija</a>
        </div>
    </div>
</div>
