<div class="card h-100 shadow-lg">
    <img src="{{proizvod.slikaUrl}}" alt="{{proizvod.naziv}}" class="img-fluid">
    <div class="card-body d-flex flex-column">
        <a routerLink="/webshop/{{proizvod.id}}">
            <h6 class="text-uppercase">{{proizvod.naziv}}</h6>
        </a>
        <span class="mb-2">{{proizvod.cijena | currency}}</span>

        <div class="btn-group mt-auto">
            <button type="button" class="btn btn-outline-secondary">
                <i class="fa fa-shopping-cart mr-2" style="color: #FE17BD;"></i>
            </button>
            <button routerLink="/webshop/{{proizvod.id}}" type="button" class="btn btn-outline-secondary">Pregledaj</button>
        </div>
    </div>
</div>