<div class="mt-4">
    <app-kosarica-pregled [kosaricaBool]="false"></app-kosarica-pregled>
</div>

<div class="float-none d-flex justify-content-between flex-column flex-lg-row mb-5">
    <button class="btn btn-outline-primary" cdkStepperPrevious style="background-color: #FE17BD; color:white; cursor: pointer;">
        <i class="fa fa-angle-left"></i> Povratak na način isporuke
    </button>
    <button class="btn btn-primary" cdkStepperNext style="background-color: #FE17BD; color:white; cursor: pointer;">
        Plaćanje <i class="fa fa-angle-right"></i> 
    </button>
</div>