<!-- Copy rights -->
    <div class="container-fluid text-white py-4 px-sm-3 px-md-5" style="background-color: #332d31;">
        <div class="row" style="color: #55404f">
            <div class="col-md text-center mb-3 mb-md-0">
            <p class="m-0 text-white">
                © 2024 Mala Šapa. Sva prava zadržana.      
                <small style="font-size: 0.5em; color:white;">Photos by <a class="text-white font-weight-bold" style="font-size: 0.9em;">Dorijan Šipuš,</a></small>
                </p>
            </div>
        </div>
    </div>
    <!-- Copy rights -->