<div class="bg-light px-4 py-3 text-uppercase font-weight-bold">
    Sažetak narudžbe
</div>
<div class="p-4">
    <p class="font-italic mb-4">Troškovi dostave dodat će se ovisno o izabranom tipu dostave</p>
    <ul class="list-unstyled mb-4">
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted">Ukupno</strong>
            <strong>{{narudzbaCijena | currency: 'EUR'}}</strong>
        </li>
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted">Dostava</strong>
            <strong>{{narudzbaDostava | currency: 'EUR'}}</strong>
        </li>
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted">Ukupna narudžba</strong>
            <strong>{{narudzbaUkupno | currency: 'EUR'}}</strong>
        </li>
    </ul>
</div>